---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  return [
    { params: { lang: 'zh-cn' } },
    { params: { lang: 'en' } },
  ]
}
const {lang} = Astro.params

const tags = Array.from(new Set(
  (await getCollection('blog'))
    .filter(blog => blog.slug.startsWith(`${lang}`))
    .map(blog => blog.data.tag)
    .flat()
))
---

<Layout title="Ray-D-Song's Blog archives">
  <main class="flex gap-2 p-5 justify-center items-center flex-wrap">
    {
      tags.map((tag, idx) => (
        <a
          class="min-w-20 h-10 rounded-3xl flex justify-center items-center p-2 cursor-pointer animate-fade-in opacity-70 hover:opacity-100 transition duration-300" 
          href={`/${lang}/${tag}`}
          >
          {tag}
        </a>
      ))
    }
  </main>
</Layout>